body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  .carAttr {
    background-color: rgb(203, 58, 18);
    width: 120px;
   }

   .carAttr1 {
    background-color: rgb(91, 21, 162);
    width: 110px;
    font-size: medium;
    font-family: Arial, Helvetica, serif;
   }
  
   body{
    background-color: rgb(225, 16, 194);
   }